In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('movies_metadata.csv')

C:\Users\bhand\AppData\Local\Temp\ipykernel_34736\2212646091.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('movies_metadata.csv')

In [3]:
df = pd.read_csv('movies_metadata.csv', low_memory=False)

In [4]:
df.head(80)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,False,"{'id': 122017, 'name': 'Screamers Collection',...",20000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,9102,tt0114367,en,Screamers,"(SIRIUS 6B, Year 2078) On a distant mining pla...",...,1995-09-08,5781885.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The last scream you hear will be your own.,Screamers,False,6.1,154.0
76,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,124626,tt0113973,en,Nico Icon,"A look into the many lives of Christa PÃ¤ffgen,...",...,1995-02-18,0.0,70.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Nico Icon,False,7.3,3.0
77,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,27526,tt0112744,en,The Crossing Guard,"After his daughter died in a hit and run, Fred...",...,1995-11-15,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"...some lives cross, others collide.",The Crossing Guard,False,6.1,74.0
78,False,NaN,44000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,9623,tt0116731,en,The Juror,"With his gangster boss on trial for murder, a ...",...,1996-02-02,0.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There is no defense.,The Juror,False,5.5,91.0
79,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,46785,tt0112445,fa,Ø¨Ø§Ø¯Ú©ÙÚ© Ø³ÙÛØ¯,Several people try to take advantage of a litt...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'fa', 'name': 'ÙØ§Ø±Ø³Û'}]",Released,NaN,The White Balloon,False,7.5,20.0

In [5]:
df.shape

(45466, 24)

In [6]:
subset_loc=df.loc[0:4,['original_language','budget','runtime','vote_count']]

subset_loc

  original_language    budget  runtime  vote_count
0                en  30000000     81.0      5415.0
1                en  65000000    104.0      2413.0
2                en         0    101.0        92.0
3                en  16000000    127.0        34.0
4                en         0    106.0       173.0

In [7]:
subset_iloc=df.iloc[0:5,0:5]
subset_iloc

,adult,belongs_to_collection,budget,genres,homepage
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN

In [8]:
subset_indexing=df[['original_language','budget','runtime','vote_count']]
subset_indexing.head()

  original_language    budget  runtime  vote_count
0                en  30000000     81.0      5415.0
1                en  65000000    104.0      2413.0
2                en         0    101.0        92.0
3                en  16000000    127.0        34.0
4                en         0    106.0       173.0

In [9]:
En_lang=df[df['original_language']=='en']
Fr_lang=df[df['original_language']=='fr']

In [10]:
En_lang.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [11]:
Fr_lang.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·è¯ / å»£å·è©±'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
58,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99040,tt0112714,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Confessional,False,6.5,2.0
67,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,4482,tt0113149,fr,Gazon maudit,"After learning of her husband's infidelities, ...",...,1995-02-08,0.0,95.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,NaN,French Twist,False,6.0,43.0
72,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,48750,tt0113828,fr,Les misÃ©rables,"In France during World War II, a poor and illi...",...,1995-03-22,0.0,175.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,"In a time of chaos, in a world of change, he w...",Les Miserables,False,6.6,8.0

In [12]:
merged_subset=pd.concat([En_lang,Fr_lang],ignore_index=True)
merged_subset.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [13]:
merged_subset.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
34702,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
34703,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
34704,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
34705,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
34706,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0

In [14]:
sorted_df=df.sort_values(by='vote_average',ascending=False)
sorted_df[['vote_average','original_language','budget']].head(1500)

       vote_average original_language  budget
31082          10.0                mr     200
45371          10.0                en       0
21798          10.0                en       0
23851          10.0                en       0
35999          10.0                en       0
...             ...               ...     ...
9954            8.0                ru       0
42478           8.0                en  100000
15376           8.0                en       0
21305           8.0                en       0
44458           8.0                it       0

[1500 rows x 3 columns]

In [15]:
transposed_df=df.transpose()
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,45456,45457,45458,45459,45460,45461,45462,45463,45464,45465
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,NaN,NaN,NaN,"{'id': 645, 'name': 'James Bond Collection', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,30000000,65000000,0,16000000,0,60000000,58000000,0,35000000,58000000,...,0,0,0,0,0,0,0,0,0,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...","[{'id': 27, 'name': 'Horror'}]","[{'id': 878, 'name': 'Science Fiction'}]","[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 18, 'name': 'Drama'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],[]
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.mgm.com/view/movie/757/Goldeneye/,...,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt6209470/,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862,949,11860,45325,9091,710,...,84419,390959,289923,222848,30840,439050,111109,67758,227506,461257
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041,tt0113277,tt0114319,tt0112302,tt0114576,tt0113189,...,tt0038621,tt0265736,tt0252966,tt0112613,tt0102797,tt6209470,tt2028550,tt0303758,tt0008536,tt6980792
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,en,fa,tl,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Ø±Ú¯ Ø®ÙØ§Ø¨,Siglo ng Pagluluwal,Betrayal,Satana likuyushchiy,Queerama
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...,"Obsessive master thief, Neil McCauley leads a ...",An ugly duckling having undergone a remarkable...,"A mischievous young boy, Tom Sawyer, witnesses...",International action superstar Jean Claude Van...,James Bond must unmask the mysterious head of ...,...,An unsuccessful sculptor saves a madman named ...,"In this true-crime documentary, we delve into ...",A film archivist revisits the story of Rustin ...,It's the year 3000 AD. The world's most danger...,"Yet another version of the classic epic, with ...",Rising and falling between a man and woman.,An artist struggles to finish his work while a...,"When one of her hits goes wrong, a professiona...","In a small town live two brothers, one a minis...",50 years after decriminalisation of homosexual...
popularity,21.946943,17.015539,11.7129,3.859495,8.387519,17.924927,6.677277,2.561161,5.23158,14.686036,...,0.222814,0.076061,0.38645,0.661558,5.683753,0.072051,0.178241,0.903007,0.003503,0.163015
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'name': 'Universal Pictures', 'id': 33}]",[],"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'name': 'American World Pictures', 'id': 6165}]","[{'name': 'Yermoliev', 'id': 88753}]",[]
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10,1995-12-15,1995-12-15,1995-12-22,1995-12-22,1995-11-16,...,1946-03-29,2000-10-22,2000-10-03,1995-01-01,1991-05-13,NaN,2011-11-17,2003-08-01,1917-10-21,2017-06-09
revenue,373554033.0,262797249.0,0.0,81452156.0,76578911.0,187436818.0,0.0,0.0,64350171.0,352194034.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
runtime,81.0,104.0,101.0,127.0,106.0,170.0,127.0,97.0,106.0,130.0,...,65.0,45.0,30.0,85.0,104.0,90.0,360.0,90.0,87.0,75.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'fa', 'name': 'ÙØ§Ø±Ø³Û'}]","[{'iso_639_1': 'tl', 'name': ''}]","[{'iso_639_1': 'en', 'name': 'English'}]",[],"[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...,A Los Angeles Crime Saga,You are cordially invited to the most surprisi...,The Original Bad Boys.,Terror goes into overtime.,No limits. No fears. No substitutes.,...,Meet...The CREEPER!,NaN,"Do you know what happened 50 years before ""The...",NaN,NaN,Rising and falling between a man and woman,NaN,A deadly game of wits.,NaN,NaN
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Subdue,Century of Birthing,Betrayal,Satan Triumphant,Queerama
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7,7.7,6.2,5.4,5.5,6.6,...,6.3,7.0,7.0,3.5,5.7,4.0,9.0,3.8,0.0,0.0
vote_count,5415.0,2413.0,92.0,34.0,173.0,1886.0,141.0,45.0,174.0,1194.0,...,8.0,2.0,1.0,1.0,26.0,1.0,3.0,6.0,0.0,0.0

In [17]:
melted_df = pd.melt(df,
                    id_vars=['original_language'],
                    value_vars=['vote_average','vote_count'],
                    var_name='Engagement Type',
                    value_name='Count')

melted_df

      original_language Engagement Type  Count
0                    en    vote_average    7.7
1                    en    vote_average    6.9
2                    en    vote_average    6.5
3                    en    vote_average    6.1
4                    en    vote_average    5.7
...                 ...             ...    ...
90927                fa      vote_count    1.0
90928                tl      vote_count    3.0
90929                en      vote_count    6.0
90930                en      vote_count    0.0
90931                en      vote_count    0.0

[90932 rows x 3 columns]

In [18]:
wide_df = melted_df.pivot_table(index='original_language',
                                 columns='Engagement Type',
                                 values='Count',
                                 aggfunc='mean')  # Aggregating using mean for simplicity

wide_df

Engagement Type    vote_average  vote_count
original_language
ab                     5.000000   13.200000
af                     6.200000   51.000000
am                     7.450000    3.500000
ar                     6.817949   15.384615
ay                     6.000000    2.000000
...                         ...         ...
vi                     5.880000   10.400000
wo                     6.520000    4.600000
xx                     5.854545   26.333333
zh                     6.366993   29.156479
zu                     8.300000    6.000000

[89 rows x 2 columns]