In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('forestfires.csv')

In [3]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [4]:
df.shape

(517, 13)

In [5]:
def categorize_area(area):
    if area==0:
        return "NotAffected"
    elif area<=5:
        return "PartiallyAffected"
    else:
        return "MostlyAffected"
df['AffectedCategory']=df['area'].apply(categorize_area)

In [6]:
subset_loc = df.loc[0:3, ['AffectedCategory','X','Y']] # only the 'AffectedCategory' column
subset_loc

  AffectedCategory  X  Y
0      NotAffected  7  5
1      NotAffected  7  4
2      NotAffected  7  4
3      NotAffected  8  6

In [7]:
subset_iloc=df.iloc[0:5,0:5]
subset_iloc

   X  Y month  day  FFMC
0  7  5   mar  fri  86.2
1  7  4   oct  tue  90.6
2  7  4   oct  sat  90.6
3  8  6   mar  fri  91.7
4  8  6   mar  sun  89.3

In [8]:
subset_indexing = df[['AffectedCategory']] # All rows selecte here

subset_indexing.head()

  AffectedCategory
0      NotAffected
1      NotAffected
2      NotAffected
3      NotAffected
4      NotAffected

In [9]:
not_affected = df[df['AffectedCategory'] == "NotAffected"]
partially_affected = df[df['AffectedCategory'] == "PartiallyAffected"]
mostly_affected = df[df['AffectedCategory'] == "MostlyAffected"]

In [10]:
not_affected.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,AffectedCategory
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,NotAffected
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,NotAffected
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,NotAffected
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,NotAffected
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,NotAffected

In [11]:
partially_affected.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,AffectedCategory
138,9,9,jul,tue,85.8,48.3,313.4,3.9,18.0,42,2.7,0.0,0.36,PartiallyAffected
139,1,4,sep,tue,91.0,129.5,692.6,7.0,21.7,38,2.2,0.0,0.43,PartiallyAffected
140,2,5,sep,mon,90.9,126.5,686.5,7.0,21.9,39,1.8,0.0,0.47,PartiallyAffected
141,1,2,aug,wed,95.5,99.9,513.3,13.2,23.3,31,4.5,0.0,0.55,PartiallyAffected
142,8,6,aug,fri,90.1,108.0,529.8,12.5,21.2,51,8.9,0.0,0.61,PartiallyAffected

In [12]:
mostly_affected.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,AffectedCategory
179,8,6,aug,tue,88.8,147.3,614.5,9.0,14.4,66,5.4,0.0,5.23,MostlyAffected
180,1,3,sep,sun,92.4,124.1,680.7,8.5,23.9,32,6.7,0.0,5.33,MostlyAffected
181,8,6,oct,mon,84.9,32.8,664.2,3.0,19.1,32,4.0,0.0,5.44,MostlyAffected
182,5,4,feb,sun,86.8,15.6,48.3,3.9,12.4,53,2.2,0.0,6.38,MostlyAffected
183,7,4,oct,mon,91.7,48.5,696.1,11.1,16.8,45,4.5,0.0,6.83,MostlyAffected

In [13]:
merged_subset=pd.concat([partially_affected, mostly_affected],ignore_index=True)
merged_subset.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,AffectedCategory
0,9,9,jul,tue,85.8,48.3,313.4,3.9,18.0,42,2.7,0.0,0.36,PartiallyAffected
1,1,4,sep,tue,91.0,129.5,692.6,7.0,21.7,38,2.2,0.0,0.43,PartiallyAffected
2,2,5,sep,mon,90.9,126.5,686.5,7.0,21.9,39,1.8,0.0,0.47,PartiallyAffected
3,1,2,aug,wed,95.5,99.9,513.3,13.2,23.3,31,4.5,0.0,0.55,PartiallyAffected
4,8,6,aug,fri,90.1,108.0,529.8,12.5,21.2,51,8.9,0.0,0.61,PartiallyAffected

In [14]:
merged_subset.tail()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,AffectedCategory
265,4,3,aug,wed,94.5,139.4,689.1,20.0,28.9,29,4.9,0.0,49.59,MostlyAffected
266,1,2,aug,thu,91.0,163.2,744.4,10.1,26.7,35,1.8,0.0,5.80,MostlyAffected
267,4,3,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,6.44,MostlyAffected
268,2,4,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,54.29,MostlyAffected
269,7,4,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,11.16,MostlyAffected

In [15]:
sorted_df=df.sort_values(by='temp',ascending=False);
sorted_df[['temp','wind','area']].head()

     temp  wind   area
498  33.3   2.7  40.54
484  33.1   4.0  26.43
496  32.6   3.1   2.77
491  32.4   4.5   0.00
492  32.4   2.2   0.00

In [16]:
sorted_df=df.sort_values(by='wind',ascending=False);
sorted_df[['temp','wind','area']].head()

     temp  wind   area
469  13.7   9.4  61.13
475  22.7   9.4   3.19
411   8.2   9.4   4.62
168  14.6   9.4   2.53
142  21.2   8.9   0.61

In [17]:
sorted_df=df.sort_values(by='area',ascending=False);
sorted_df[['temp','wind','area']].head()

     temp  wind     area
238  25.1   4.0  1090.84
415  27.5   4.9   746.28
479  22.6   4.9   278.53
237  18.8   2.2   212.88
236  18.2   1.8   200.94

In [18]:
transposed_df=df.transpose()
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5
DMC,26.2,35.4,43.7,33.3,51.3,85.3,88.9,145.4,129.5,88.0,...,166.9,166.9,166.9,166.9,56.7,56.7,56.7,56.7,146.0,3.0
DC,94.3,669.1,686.9,77.5,102.2,488.0,495.6,608.2,692.6,698.6,...,752.6,752.6,752.6,752.6,665.6,665.6,665.6,665.6,614.7,106.7
ISI,5.1,6.7,6.7,9.0,9.6,14.7,8.5,10.7,7.0,7.1,...,7.1,7.1,7.1,7.1,1.9,1.9,1.9,1.9,11.3,1.1
temp,8.2,18.0,14.6,8.3,11.4,22.2,24.1,8.0,13.1,22.8,...,25.9,25.9,21.1,18.2,27.8,27.8,21.9,21.2,25.6,11.8
RH,51,33,33,97,99,29,27,86,63,40,...,41,41,71,62,35,32,71,70,42,31
wind,6.7,0.9,1.3,4.0,1.8,5.4,3.1,2.2,5.4,4.0,...,3.6,3.6,7.6,5.4,2.7,2.7,5.8,6.7,4.0,4.5
rain,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.17,0.43,0.0,6.44,54.29,11.16,0.0,0.0
AffectedCategory,NotAffected,NotAffected,NotAffected,NotAffected,NotAffected,NotAffected,NotAffected,NotAffected,NotAffected,NotAffected,...,NotAffected,NotAffected,PartiallyAffected,PartiallyAffected,NotAffected,MostlyAffected,MostlyAffected,MostlyAffected,NotAffected,NotAffected

In [19]:
melted_df=pd.melt(df,
                  id_vars=['AffectedCategory'],
                  value_vars=['wind','rain'],
                  var_name='Engagement Type',
                  value_name='Count')
melted_df

     AffectedCategory Engagement Type  Count
0         NotAffected            wind    6.7
1         NotAffected            wind    0.9
2         NotAffected            wind    1.3
3         NotAffected            wind    4.0
4         NotAffected            wind    1.8
...               ...             ...    ...
1029   MostlyAffected            rain    0.0
1030   MostlyAffected            rain    0.0
1031   MostlyAffected            rain    0.0
1032      NotAffected            rain    0.0
1033      NotAffected            rain    0.0

[1034 rows x 3 columns]

In [20]:
wide_df=melted_df.pivot_table(index='AffectedCategory',
                              columns='Engagement Type',
                              values='Count',
                              aggfunc='mean')
wide_df

Engagement Type        rain      wind
AffectedCategory
MostlyAffected     0.042384  4.176159
NotAffected        0.013765  3.913360
PartiallyAffected  0.011765  4.032773